Support/suiMocks/wsdl/UfosDocumentWebService/1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:tns="http://www.otr.ru/ufos/ws/core/facade" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.otr.ru/ufos/ws/core/facade">
<types>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/common/entity" schemaLocation="1.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/common/applied" schemaLocation="12.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/common" schemaLocation="23.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/Test_Pavel/formular" schemaLocation="34.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/TechnicalTableAccounts/formular" schemaLocation="45.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/SbsdTrnsfrInfrmtn/formular" schemaLocation="55.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/SbsdCrntSt/formular" schemaLocation="56.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/SbsdAgrmnt/formular" schemaLocation="57.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/SbsdASFKApprvlRprt/formular" schemaLocation="58.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/Registryaccount/formular" schemaLocation="2.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/REF_UBPandNUBP/formular" schemaLocation="3.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/REF_TOFK/formular" schemaLocation="4.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/REF_PersAccount/formular" schemaLocation="5.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/REF_OKV/formular" schemaLocation="6.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/REF_OKTMO/formular" schemaLocation="7.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/REF_OKSM/formular" schemaLocation="8.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/REF_OKEI/formular" schemaLocation="9.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/REF_OKATOtoOKTMO/formular" schemaLocation="10.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/REF_KBK10/formular" schemaLocation="11.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/REF_EGRUL/formular" schemaLocation="13.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/REF_Budgets/formular" schemaLocation="14.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/NtcExcdBdgtrOblgtns/formular" schemaLocation="15.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_TOFKRegisterMonitor/formular" schemaLocation="16.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_SmApplCshFlwTx/formular" schemaLocation="17.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_RgstrInfrmAc/formular" schemaLocation="18.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_RcptPUR_EB/formular" schemaLocation="19.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_REP_LSPBS/formular" schemaLocation="20.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_REPORTS/formular" schemaLocation="21.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_Protocol/formular" schemaLocation="22.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_PmntOrdr/formular" schemaLocation="24.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_PmntOrdFdTr/formular" schemaLocation="25.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_NtcClrTpPy/formular" schemaLocation="26.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_NtcClrOpr/formular" schemaLocation="27.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_KontrolOstLS/formular" schemaLocation="28.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_ExpndblSchdl/formular" schemaLocation="29.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_CurrStatLBO/formular" schemaLocation="30.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_CrdOfAcnt/formular" schemaLocation="31.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_CprtnSchm/formular" schemaLocation="32.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_Balance/formular" schemaLocation="33.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_ApplRfnd/formular" schemaLocation="35.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_ApplCashFlowShrt/formular" schemaLocation="36.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_ApplCashFlow/formular" schemaLocation="37.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_AplFndsCrd/formular" schemaLocation="38.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_AplCsh/formular" schemaLocation="39.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_AccGroupIndicators/formular" schemaLocation="40.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/MSC_AcStmnt/formular" schemaLocation="41.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/InfrmtnDcmnt/formular" schemaLocation="42.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/InfrmtnBdgtOblgtns/formular" schemaLocation="43.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/EXP_SubsidyAgrmtInfo/formular" schemaLocation="44.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/EXP_RegisPublicServices/formular" schemaLocation="46.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/EXP_Receipt/formular" schemaLocation="47.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/EXP_InformationAbout/formular" schemaLocation="48.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/EXP_InfoStateAssign/formular" schemaLocation="49.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/BudgetObligation/formular" schemaLocation="50.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/AcntTrnsctn/formular" schemaLocation="51.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.roskazna.ru/eb/domain/AccntTrnsctn/formular" schemaLocation="52.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.otr.ru/ufos/ws/core/facade" schemaLocation="53.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.otr.ru/ufos/ws/core/common" schemaLocation="54.xsd"/>
</xsd:schema>
</types>
<message name="loadDocuments">
<part name="parameters" element="tns:loadDocumentsRequest"/>
</message>
<message name="loadDocumentsResponse">
<part name="parameters" element="tns:loadDocumentsResponse"/>
</message>
<message name="ConvertationFault">
<part name="fault" element="tns:ConvertationFault"/>
</message>
<message name="DocumentNotFoundFault">
<part name="fault" element="tns:DocumentNotFoundFault"/>
</message>
<message name="IncorrectMappingConfigurationFault">
<part name="fault" element="tns:IncorrectMappingConfigurationFault"/>
</message>
<message name="InvalidGuidFault">
<part name="fault" element="tns:InvalidGuidFault"/>
</message>
<message name="loadDictionaries">
<part name="parameters" element="tns:loadDictionariesRequest"/>
</message>
<message name="loadDictionariesResponse">
<part name="parameters" element="tns:loadDictionariesResponse"/>
</message>
<message name="DictionaryNotFoundFault">
<part name="fault" element="tns:DictionaryNotFoundFault"/>
</message>
<portType name="documentPort">
<operation name="loadDocuments">
<input message="tns:loadDocuments"/>
<output message="tns:loadDocumentsResponse"/>
<fault message="tns:ConvertationFault" name="ConvertationFault"/>
<fault message="tns:DocumentNotFoundFault" name="DocumentNotFoundFault"/>
<fault message="tns:IncorrectMappingConfigurationFault" name="IncorrectMappingConfigurationFault"/>
<fault message="tns:InvalidGuidFault" name="InvalidGuidFault"/>
</operation>
<operation name="loadDictionaries">
<input message="tns:loadDictionaries"/>
<output message="tns:loadDictionariesResponse"/>
<fault message="tns:ConvertationFault" name="ConvertationFault"/>
<fault message="tns:DictionaryNotFoundFault" name="DictionaryNotFoundFault"/>
<fault message="tns:IncorrectMappingConfigurationFault" name="IncorrectMappingConfigurationFault"/>
<fault message="tns:InvalidGuidFault" name="InvalidGuidFault"/>
</operation>
</portType>
</definitions>