Support/suiMocks/wsdl/UfosDocumentWebService/10.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://www.roskazna.ru/eb/domain/REF_OKATOtoOKTMO/formular" xmlns:ns2="http://www.roskazna.ru/eb/domain/common/applied" xmlns:ns1="http://www.roskazna.ru/eb/domain/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.roskazna.ru/eb/domain/REF_OKATOtoOKTMO/formular">

<xs:import namespace="http://www.roskazna.ru/eb/domain/common" schemaLocation="23.xsd"/>

<xs:import namespace="http://www.roskazna.ru/eb/domain/common/applied" schemaLocation="12.xsd"/>

<xs:element name="REF_OKATOtoOKTMO" type="tns:tREF_OKATOtoOKTMO"/>

<xs:complexType name="tDICT_BASE">
<xs:complexContent>
<xs:extension base="ns1:tFormular">
<xs:sequence>
<xs:element name="ORGCODE" type="xs:decimal" minOccurs="0"/>
<xs:element name="ORGVISIBILITY" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="tREF_OKATOtoOKTMO">
<xs:complexContent>
<xs:extension base="ns1:tFormular">
<xs:sequence>
<xs:element name="GUID" type="xs:string"/>
<xs:element name="StartDateActive" type="xs:string"/>
<xs:element name="EndDateActive" type="xs:string" minOccurs="0"/>
<xs:element name="Status" type="ns2:tSystem_statusesComplex"/>
<xs:element name="Code" type="xs:string"/>
<xs:element name="OKTMOTempCode" type="xs:string" minOccurs="0"/>
<xs:element name="OKATOApplicCode" type="xs:string" minOccurs="0"/>
<xs:element name="Name" type="xs:string"/>
<xs:element name="OKTMOName" type="xs:string"/>
<xs:element name="IsBP" type="xs:boolean"/>
<xs:element name="BPOKTMOCode" type="xs:string"/>
<xs:element name="BPName" type="xs:string"/>
<xs:element name="PPOTypeCode" type="ns2:tREF_PPOTypesComplex" minOccurs="0"/>
<xs:element name="PPOTypeName" type="xs:string" minOccurs="0"/>
<xs:element name="ParentPPOName" type="xs:string" minOccurs="0"/>
<xs:element name="ReqCode" type="xs:string" minOccurs="0"/>
<xs:element name="DateInclusion" type="xs:string"/>
<xs:element name="DateExclusion" type="xs:string" minOccurs="0"/>
<xs:element name="OKATOOKTMOStatus" type="ns2:tREF_PPOStatusesComplex"/>
<xs:element name="OKTMOCode" type="tns:tLpOKTMOCode" minOccurs="0"/>
<xs:element name="OKATOActingCode" type="tns:tLpOKATOActingCode" minOccurs="0"/>
<xs:element name="ParentPPOCode" type="tns:tLpParentPPOCode" minOccurs="0"/>
<xs:element name="DICT_BASE" type="tns:tDICT_BASE" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="tLpOKTMOCode">
<xs:sequence>
<xs:element name="Code" type="xs:string" minOccurs="0"/>
<xs:element name="Name" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="source" type="xs:string"/>
</xs:complexType>

<xs:complexType name="tLpOKATOActingCode">
<xs:sequence>
<xs:element name="Code" type="xs:string" minOccurs="0"/>
<xs:element name="Name" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="source" type="xs:string"/>
</xs:complexType>

<xs:complexType name="tLpParentPPOCode">
<xs:sequence>
<xs:element name="Code" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="source" type="xs:string"/>
</xs:complexType>
</xs:schema>