Support/suiMocks/wsdl/UfosDocumentWebService/24.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://www.roskazna.ru/eb/domain/MSC_PmntOrdr/formular" xmlns:ns3="http://www.roskazna.ru/eb/domain/common/entity" xmlns:ns2="http://www.roskazna.ru/eb/domain/common/applied" xmlns:ns1="http://www.roskazna.ru/eb/domain/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.roskazna.ru/eb/domain/MSC_PmntOrdr/formular">

<xs:import namespace="http://www.roskazna.ru/eb/domain/common" schemaLocation="23.xsd"/>

<xs:import namespace="http://www.roskazna.ru/eb/domain/common/applied" schemaLocation="12.xsd"/>

<xs:import namespace="http://www.roskazna.ru/eb/domain/common/entity" schemaLocation="1.xsd"/>

<xs:element name="MSC_PmntOrdr" type="tns:tMSC_PmntOrdr"/>

<xs:complexType name="tDOC_BASE">
<xs:complexContent>
<xs:extension base="ns1:tFormular">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="tMSC_PmntOrdr">
<xs:complexContent>
<xs:extension base="ns1:tFormular">
<xs:sequence>
<xs:element name="PPT_PyOrdrNm" type="xs:string" minOccurs="0"/>
<xs:element name="PPT_DctDt" type="xs:string" minOccurs="0"/>
<xs:element name="PPT_AmntPO" type="xs:decimal" minOccurs="0"/>
<xs:element name="PPT_FAIPObjCode" type="xs:string" minOccurs="0"/>
<xs:element name="PPT_TrnsTp" type="xs:string" minOccurs="0"/>
<xs:element name="PPT_DctDtY" type="xs:string" minOccurs="0"/>
<xs:element name="PPT_IDCdUIN" type="xs:string" minOccurs="0"/>
<xs:element name="PPT_TxprSts" type="xs:string" minOccurs="0"/>
<xs:element name="PPT_KBK" type="xs:string" minOccurs="0"/>
<xs:element name="PPT_PymntBs" type="xs:string" minOccurs="0"/>
<xs:element name="PPT_TxPrCstInst" type="xs:string" minOccurs="0"/>
<xs:element name="PPT_DcNmbrInd" type="xs:string" minOccurs="0"/>
<xs:element name="PPT_DocDtInd" type="xs:string" minOccurs="0"/>
<xs:element name="DFK_GUID" type="xs:string" minOccurs="0"/>
<xs:element name="DFK_RcpntAcntNm" type="xs:string" minOccurs="0"/>
<xs:element name="DFK_PrntKPPSgn" type="ns2:tMSC_PrntKPPSgnComplex" minOccurs="0"/>
<xs:element name="DFK_ExplnSgn" type="ns2:tMSC_ExplnSgnComplex" minOccurs="0"/>
<xs:element name="StmInfrmtn_RegisterInformAccGUID" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_RwIDCd" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_HdIDCd" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_RsltPrm" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_TxtRsltPrm" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_AcntNm" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_ExctnDt" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_RjctnRsn" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_RlvncSgn" type="xs:string" minOccurs="0"/>
<xs:element name="PPT_MSC_Pyr" type="ns3:tMSC_PyrBk" minOccurs="0"/>
<xs:element name="PPT_MSC_PyrRcpnt" type="ns3:tMSC_PyrBk" minOccurs="0"/>
<xs:element name="PPT_MSC_Pmnt" type="ns3:tMSC_Pmnt" minOccurs="0"/>
<xs:element name="PPT_MSC_OKTMO" type="ns3:tMSC_OKTMO" minOccurs="0"/>
<xs:element name="DFK_MSC_OrFK" type="ns3:tMSC_OrFK" minOccurs="0"/>
<xs:element name="DFK_MSC_PBS" type="ns3:tMSC_PBS" minOccurs="0"/>
<xs:element name="PPST" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="PPST_ITEM" type="tns:tPPST_ITEM" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="StmInfrmtn_TabSI" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TabSI_ITEM" type="tns:tStmInfrmtn_TabSI_ITEM" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DOC_BASE" type="tns:tDOC_BASE" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="tPPST_ITEM">
<xs:sequence>
<xs:element name="RcTrgtCd" type="xs:string" minOccurs="0"/>
<xs:element name="Amnt" type="xs:decimal" minOccurs="0"/>
<xs:element name="PyDrct" type="xs:string" minOccurs="0"/>
<xs:element name="FnMnth" type="xs:string" minOccurs="0"/>
<xs:element name="BckpFld" type="xs:string" minOccurs="0"/>
<xs:element name="SrcCd" type="xs:string" minOccurs="0"/>
<xs:element name="MSC_KBK" type="ns3:tMSC_KBK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tStmInfrmtn_TabSI_ITEM">
<xs:sequence>
<xs:element name="AcntNm" type="xs:string" minOccurs="0"/>
<xs:element name="AccountTransGUID" type="xs:string" minOccurs="0"/>
<xs:element name="SignUpdate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tStmInfrmtn_TabSI">
<xs:sequence>
<xs:element name="TabSI_ITEM" type="tns:tStmInfrmtn_TabSI_ITEM" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tPPST">
<xs:sequence>
<xs:element name="PPST_ITEM" type="tns:tPPST_ITEM" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>