Support/suiMocks/wsdl/UfosDocumentWebService/25.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://www.roskazna.ru/eb/domain/MSC_PmntOrdFdTr/formular" xmlns:ns2="http://www.roskazna.ru/eb/domain/common/entity" xmlns:ns1="http://www.roskazna.ru/eb/domain/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.roskazna.ru/eb/domain/MSC_PmntOrdFdTr/formular">

<xs:import namespace="http://www.roskazna.ru/eb/domain/common" schemaLocation="23.xsd"/>

<xs:import namespace="http://www.roskazna.ru/eb/domain/common/entity" schemaLocation="1.xsd"/>

<xs:element name="MSC_PmntOrdFdTr" type="tns:tMSC_PmntOrdFdTr"/>

<xs:complexType name="tDOC_BASE">
<xs:complexContent>
<xs:extension base="ns1:tFormular">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="tMSC_PmntOrdFdTr">
<xs:complexContent>
<xs:extension base="ns1:tFormular">
<xs:sequence>
<xs:element name="BDPD_PyDocNm" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_AmntPO" type="xs:decimal" minOccurs="0"/>
<xs:element name="BDPD_FAIPObjCode" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_RcvdPyrBnk" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_DtDebPAcc" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_TrnsTp" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_DctDtY" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_UnvrslChrgInd" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_TxprSts" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_KBK" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_TpDc" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_GDLnkDC" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_PymntBs" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_TxPrCstInst" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_DcNmbrInd" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_DocDtInd" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_NmbrPrtlPmnts" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_CphrPDc" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_PymDcNmbr" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_PyDctDt" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_AmntPmnt" type="xs:decimal" minOccurs="0"/>
<xs:element name="BDPD_CntntOpr" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_Dtofissnc" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_RegisterInformAccGUID" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_RwIDCd" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_HdIDCd" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_RsltPrm" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_TxtRsltPrm" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_AcntNm" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_ExctnDt" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_RjctnRsn" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_RlvncSgn" type="xs:string" minOccurs="0"/>
<xs:element name="BDPD_MSC_Infrmtn" type="ns2:tMSC_Infrmtn" minOccurs="0"/>
<xs:element name="BDPD_MSC_Pyr" type="ns2:tMSC_PyrBk" minOccurs="0"/>
<xs:element name="BDPD_MSC_PyrRcpnt" type="ns2:tMSC_PyrBk" minOccurs="0"/>
<xs:element name="BDPD_MSC_PmntFull" type="ns2:tMSC_PmntFl" minOccurs="0"/>
<xs:element name="BDPD_MSC_OKTMO" type="ns2:tMSC_OKTMO" minOccurs="0"/>
<xs:element name="BDPDST" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="BDPDST_ITEM" type="tns:tBDPDST_ITEM" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="StmInfrmtn_TabSI" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TabSI_ITEM" type="tns:tStmInfrmtn_TabSI_ITEM" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DOC_BASE" type="tns:tDOC_BASE" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="tBDPDST_ITEM">
<xs:sequence>
<xs:element name="BdgOblgtNm" type="xs:string" minOccurs="0"/>
<xs:element name="Amnt" type="xs:decimal" minOccurs="0"/>
<xs:element name="PyDrct" type="xs:string" minOccurs="0"/>
<xs:element name="FnMnth" type="xs:string" minOccurs="0"/>
<xs:element name="BckpFld" type="xs:string" minOccurs="0"/>
<xs:element name="MSC_KBK" type="ns2:tMSC_KBK" minOccurs="0"/>
<xs:element name="MSC_OKTMO" type="ns2:tMSC_OKTMO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tStmInfrmtn_TabSI_ITEM">
<xs:sequence>
<xs:element name="AcntNm" type="xs:string" minOccurs="0"/>
<xs:element name="AccountTransGUID" type="xs:string" minOccurs="0"/>
<xs:element name="SignUpdate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tStmInfrmtn_TabSI">
<xs:sequence>
<xs:element name="TabSI_ITEM" type="tns:tStmInfrmtn_TabSI_ITEM" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tBDPDST">
<xs:sequence>
<xs:element name="BDPDST_ITEM" type="tns:tBDPDST_ITEM" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>