Support/suiMocks/wsdl/UfosDocumentWebService/38.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://www.roskazna.ru/eb/domain/MSC_AplFndsCrd/formular" xmlns:ns3="http://www.roskazna.ru/eb/domain/common/entity" xmlns:ns2="http://www.roskazna.ru/eb/domain/common/applied" xmlns:ns1="http://www.roskazna.ru/eb/domain/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.roskazna.ru/eb/domain/MSC_AplFndsCrd/formular">

<xs:import namespace="http://www.roskazna.ru/eb/domain/common" schemaLocation="23.xsd"/>

<xs:import namespace="http://www.roskazna.ru/eb/domain/common/applied" schemaLocation="12.xsd"/>

<xs:import namespace="http://www.roskazna.ru/eb/domain/common/entity" schemaLocation="1.xsd"/>

<xs:element name="MSC_AplFndsCrd" type="tns:tMSC_AplFndsCrd"/>

<xs:complexType name="tDOC_BASE">
<xs:complexContent>
<xs:extension base="ns1:tFormular">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="tMSC_AplFndsCrd">
<xs:complexContent>
<xs:extension base="ns1:tFormular">
<xs:sequence>
<xs:element name="ZN_DcNmbr" type="xs:string" minOccurs="0"/>
<xs:element name="ZN_BdOblgtNm" type="xs:string" minOccurs="0"/>
<xs:element name="ZN_FAIPObjCd" type="xs:string" minOccurs="0"/>
<xs:element name="ZN_BnkCrdNm" type="xs:string" minOccurs="0"/>
<xs:element name="ZN_TpSrc" type="ns2:tMSC_FndsSrcComplex" minOccurs="0"/>
<xs:element name="ZN_OwnCrdCrdPstn" type="xs:string" minOccurs="0"/>
<xs:element name="ZN_SgngDt" type="xs:string" minOccurs="0"/>
<xs:element name="ZN_Amnt" type="xs:decimal" minOccurs="0"/>
<xs:element name="ZN_TtlAmnt" type="xs:decimal" minOccurs="0"/>
<xs:element name="StmInfrmtn_RegisterInformAccGUID" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_RwIDCd" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_HdIDCd" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_RsltPrm" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_TxtRsltPrm" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_AcntNm" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_ExctnDt" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_RjctnRsn" type="xs:string" minOccurs="0"/>
<xs:element name="StmInfrmtn_RlvncSgn" type="xs:string" minOccurs="0"/>
<xs:element name="ZN_MSC_Infrmtn" type="ns3:tMSC_Infrmtn" minOccurs="0"/>
<xs:element name="ZN_MSC_Cstmr" type="ns3:tMSC_Cstmr" minOccurs="0"/>
<xs:element name="ZN_MSC_OrFK" type="ns3:tMSC_OrFK" minOccurs="0"/>
<xs:element name="ZN_MSC_FlNm" type="ns3:tMSC_FlNm" minOccurs="0"/>
<xs:element name="ZN_MSC_Hd" type="ns3:tMSC_Hd" minOccurs="0"/>
<xs:element name="ZN_MSC_RspnExctr" type="ns3:tMSC_RspnExctr" minOccurs="0"/>
<xs:element name="ZNKBK" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ZNKBK_ITEM" type="tns:tZNKBK_ITEM" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="StmInfrmtn_TabSI" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="TabSI_ITEM" type="tns:tStmInfrmtn_TabSI_ITEM" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DOC_BASE" type="tns:tDOC_BASE" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="tZNKBK_ITEM">
<xs:sequence>
<xs:element name="RcrdNm" type="xs:long" minOccurs="0"/>
<xs:element name="PyPrps" type="xs:string" minOccurs="0"/>
<xs:element name="Amnt" type="xs:decimal" minOccurs="0"/>
<xs:element name="DcCmnt" type="xs:string" minOccurs="0"/>
<xs:element name="MSC_KBK10_20" type="ns3:tMSC_KBK10_20" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tStmInfrmtn_TabSI_ITEM">
<xs:sequence>
<xs:element name="AcntNm" type="xs:string" minOccurs="0"/>
<xs:element name="AccountTransGUID" type="xs:string" minOccurs="0"/>
<xs:element name="SignUpdate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tZNKBK">
<xs:sequence>
<xs:element name="ZNKBK_ITEM" type="tns:tZNKBK_ITEM" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tStmInfrmtn_TabSI">
<xs:sequence>
<xs:element name="TabSI_ITEM" type="tns:tStmInfrmtn_TabSI_ITEM" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>