Support/suiMocks/wsdl/UfosDocumentWebService/4.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://www.roskazna.ru/eb/domain/REF_TOFK/formular" xmlns:ns2="http://www.roskazna.ru/eb/domain/common/applied" xmlns:ns1="http://www.roskazna.ru/eb/domain/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.roskazna.ru/eb/domain/REF_TOFK/formular">

<xs:import namespace="http://www.roskazna.ru/eb/domain/common" schemaLocation="23.xsd"/>

<xs:import namespace="http://www.roskazna.ru/eb/domain/common/applied" schemaLocation="12.xsd"/>

<xs:element name="REF_TOFK" type="tns:tREF_TOFK"/>

<xs:complexType name="tDICT_BASE">
<xs:complexContent>
<xs:extension base="ns1:tFormular">
<xs:sequence>
<xs:element name="ORGCODE" type="xs:decimal" minOccurs="0"/>
<xs:element name="ORGVISIBILITY" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="tREF_TOFK">
<xs:complexContent>
<xs:extension base="ns1:tFormular">
<xs:sequence>
<xs:element name="GUID" type="xs:string"/>
<xs:element name="StartDateActive" type="xs:string"/>
<xs:element name="EndDateActive" type="xs:string" minOccurs="0"/>
<xs:element name="Status" type="ns2:tSystem_statusesComplex"/>
<xs:element name="Code" type="xs:string"/>
<xs:element name="ShortName" type="xs:string"/>
<xs:element name="FullName" type="xs:string"/>
<xs:element name="INN" type="xs:string"/>
<xs:element name="KPP" type="xs:string"/>
<xs:element name="AddressLegal" type="xs:string" minOccurs="0"/>
<xs:element name="OpenDate" type="xs:string"/>
<xs:element name="CloseDate" type="xs:string" minOccurs="0"/>
<xs:element name="TOFKStatus" type="ns2:tREF_TOFKStatusesComplex"/>
<xs:element name="TOFKCode" type="tns:tLpTOFKCode" minOccurs="0"/>
<xs:element name="DICT_BASE" type="tns:tDICT_BASE" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="tLpTOFKCode">
<xs:sequence>
<xs:element name="Code" type="xs:string" minOccurs="0"/>
<xs:element name="ShortName" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="source" type="xs:string"/>
</xs:complexType>
</xs:schema>