Support/suiMocks/wsdl/UfosDocumentWebService/40.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://www.roskazna.ru/eb/domain/MSC_AccGroupIndicators/formular" xmlns:ns1="http://www.roskazna.ru/eb/domain/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.roskazna.ru/eb/domain/MSC_AccGroupIndicators/formular">

<xs:import namespace="http://www.roskazna.ru/eb/domain/common" schemaLocation="23.xsd"/>

<xs:element name="MSC_AccGroupIndicators" type="tns:tMSC_AccGroupIndicators"/>

<xs:complexType name="tDICT_BASE">
<xs:complexContent>
<xs:extension base="ns1:tFormular">
<xs:sequence>
<xs:element name="StrtDt" type="xs:string" minOccurs="0"/>
<xs:element name="EndDt" type="xs:string" minOccurs="0"/>
<xs:element name="CdDct" type="xs:string" minOccurs="0"/>
<xs:element name="NmDct" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="tMSC_AccGroupIndicators">
<xs:complexContent>
<xs:extension base="ns1:tFormular">
<xs:sequence>
<xs:element name="RatePersonalAccount" type="xs:string" minOccurs="0"/>
<xs:element name="NameCI" type="xs:string" minOccurs="0"/>
<xs:element name="RulesOfCalculation" type="xs:string" minOccurs="0"/>
<xs:element name="SymptomAmount" type="xs:string" minOccurs="0"/>
<xs:element name="PACode_03" type="xs:boolean" minOccurs="0"/>
<xs:element name="PACode_14" type="xs:boolean" minOccurs="0"/>
<xs:element name="PACode_41" type="xs:boolean" minOccurs="0"/>
<xs:element name="ActionsToDate" type="xs:string" minOccurs="0"/>
<xs:element name="DateOfAction" type="xs:string" minOccurs="0"/>
<xs:element name="Relevance" type="xs:boolean" minOccurs="0"/>
<xs:element name="SystemInformation_DateAndTimeOfCreation" type="xs:string" minOccurs="0"/>
<xs:element name="SystemInformation_GUID" type="xs:string" minOccurs="0"/>
<xs:element name="SystemInformation_ExtFormula" type="xs:string" minOccurs="0"/>
<xs:element name="DICT_BASE" type="tns:tDICT_BASE" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>