Support/suiMocks/wsdl/UfosDocumentWebService/54.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://www.otr.ru/ufos/ws/core/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.otr.ru/ufos/ws/core/common">

<xs:element name="documentNotFoundFault" type="tns:commonCoreFaultBean"/>

<xs:element name="invalidGuidFault" type="tns:commonCoreFaultBean"/>

<xs:complexType name="commonCoreFaultBean">
<xs:sequence>
<xs:element name="message" type="xs:string"/>
<xs:element name="timeStamp" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>