Support/suiMocks/xsd/PackageService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ru.otr/opora/util/packageservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PackageService" targetNamespace="http://ru.otr/opora/util/packageservice" xmlns:xsd1="http://www.example.org/PackageService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ru.otr/opora/util/packageservice">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/PackageService"
    		schemaLocation="PackageService.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="packageFilesRequest">
    <wsdl:part element="xsd1:packageRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="packageFilesResponse">
    <wsdl:part element="xsd1:packageResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="PackageService">
    <wsdl:operation name="packageFiles">
      <wsdl:input message="tns:packageFilesRequest"/>
      <wsdl:output message="tns:packageFilesResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PackageServiceSOAP" type="tns:PackageService">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="packageFiles">
  		<soap:operation
  			soapAction="http://ru.otr/opora/util/packageservice/packageFiles" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PackageService">
    <wsdl:port binding="tns:PackageServiceSOAP" name="PackageServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
