Support/suiMocks/wsdl/UfosDocumentFieldsWebService/documentFieldsWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.otr.ru/ufos/ws/core/facade" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.otr.ru/ufos/ws/core/facade" name="DocumentFieldsWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.otr.ru/ufos/ws/core/facade" schemaLocation="1.xsd"/>
</xsd:schema>
</types>
<message name="SetTableValues">
<part name="parameters" element="tns:SetTableValuesRequest"/>
</message>
<message name="SetTableValuesResponse">
<part name="parameters" element="tns:SetTableValuesResponse"/>
</message>
<message name="InvalidGuidFault">
<part name="fault" element="tns:InvalidGuidFault"/>
</message>
<message name="DocumentNotFoundFault">
<part name="fault" element="tns:DocumentNotFoundFault"/>
</message>
<message name="TableNotFoundFault">
<part name="fault" element="tns:TableNotFoundFault"/>
</message>
<message name="FieldNotFoundFault">
<part name="fault" element="tns:FieldNotFoundFault"/>
</message>
<message name="TableRowOutOfRangeFault">
<part name="fault" element="tns:TableRowOutOfRangeFault"/>
</message>
<message name="InvalidFieldValueFault">
<part name="fault" element="tns:InvalidFieldValueFault"/>
</message>
<message name="InvalidFieldValueFormatFault">
<part name="fault" element="tns:InvalidFieldValueFormatFault"/>
</message>
<message name="DocumentLoadFault">
<part name="fault" element="tns:DocumentLoadFault"/>
</message>
<message name="DocumentSaveFault">
<part name="fault" element="tns:DocumentSaveFault"/>
</message>
<message name="SetTablesValues">
<part name="parameters" element="tns:SetTablesValuesRequest"/>
</message>
<message name="SetTablesValuesResponse">
<part name="parameters" element="tns:SetTablesValuesResponse"/>
</message>
<message name="GetDictionaryValues">
<part name="parameters" element="tns:GetDictionaryValuesRequest"/>
</message>
<message name="GetDictionaryValuesResponse">
<part name="parameters" element="tns:GetDictionaryValuesResponse"/>
</message>
<message name="DictionaryNotFoundFault">
<part name="fault" element="tns:DictionaryNotFoundFault"/>
</message>
<message name="GetAttribs">
<part name="parameters" element="tns:GetAttribs"/>
</message>
<message name="GetAttribsResponse">
<part name="parameters" element="tns:GetAttribsResponse"/>
</message>
<message name="GetFilteredDictionaryValues">
<part name="parameters" element="tns:GetFilteredDictionaryValuesRequest"/>
</message>
<message name="GetFilteredDictionaryValuesResponse">
<part name="parameters" element="tns:GetFilteredDictionaryValuesResponse"/>
</message>
<message name="SetFieldValues">
<part name="parameters" element="tns:SetFieldValuesRequest"/>
</message>
<message name="SetFieldValuesResponse">
<part name="parameters" element="tns:SetFieldValuesResponse"/>
</message>
<message name="GetDocInfo">
<part name="parameters" element="tns:GetDocInfoRequest"/>
</message>
<message name="GetDocInfoResponse">
<part name="parameters" element="tns:GetDocInfoResponse"/>
</message>
<message name="listRelatedDocuments">
<part name="parameters" element="tns:listRelatedDocumentsRequest"/>
</message>
<message name="listRelatedDocumentsResponse">
<part name="parameters" element="tns:listRelatedDocumentsResponse"/>
</message>
<message name="DataSourceNotFoundFault">
<part name="fault" element="tns:dataSourceNotFoundFault"/>
</message>
<message name="GetTableValues">
<part name="parameters" element="tns:GetTableValuesRequest"/>
</message>
<message name="GetTableValuesResponse">
<part name="parameters" element="tns:GetTableValuesResponse"/>
</message>
<message name="GetFilteredTableValues">
<part name="parameters" element="tns:GetFilteredTableValuesRequest"/>
</message>
<message name="GetFilteredTableValuesResponse">
<part name="parameters" element="tns:GetFilteredTableValuesResponse"/>
</message>
<message name="GetFieldValues">
<part name="parameters" element="tns:GetFieldValuesRequest"/>
</message>
<message name="GetFieldValuesResponse">
<part name="parameters" element="tns:GetFieldValuesResponse"/>
</message>
<portType name="FormularValues">
<operation name="SetTableValues">
<input message="tns:SetTableValues"/>
<output message="tns:SetTableValuesResponse"/>
<fault message="tns:InvalidGuidFault" name="InvalidGuidFault"/>
<fault message="tns:DocumentNotFoundFault" name="DocumentNotFoundFault"/>
<fault message="tns:TableNotFoundFault" name="TableNotFoundFault"/>
<fault message="tns:FieldNotFoundFault" name="FieldNotFoundFault"/>
<fault message="tns:TableRowOutOfRangeFault" name="TableRowOutOfRangeFault"/>
<fault message="tns:InvalidFieldValueFault" name="InvalidFieldValueFault"/>
<fault message="tns:InvalidFieldValueFormatFault" name="InvalidFieldValueFormatFault"/>
<fault message="tns:DocumentLoadFault" name="DocumentLoadFault"/>
<fault message="tns:DocumentSaveFault" name="DocumentSaveFault"/>
</operation>
<operation name="SetTablesValues">
<input message="tns:SetTablesValues"/>
<output message="tns:SetTablesValuesResponse"/>
<fault message="tns:InvalidGuidFault" name="InvalidGuidFault"/>
<fault message="tns:DocumentNotFoundFault" name="DocumentNotFoundFault"/>
<fault message="tns:TableNotFoundFault" name="TableNotFoundFault"/>
<fault message="tns:FieldNotFoundFault" name="FieldNotFoundFault"/>
<fault message="tns:TableRowOutOfRangeFault" name="TableRowOutOfRangeFault"/>
<fault message="tns:InvalidFieldValueFault" name="InvalidFieldValueFault"/>
<fault message="tns:InvalidFieldValueFormatFault" name="InvalidFieldValueFormatFault"/>
<fault message="tns:DocumentLoadFault" name="DocumentLoadFault"/>
<fault message="tns:DocumentSaveFault" name="DocumentSaveFault"/>
</operation>
<operation name="GetDictionaryValues">
<input message="tns:GetDictionaryValues"/>
<output message="tns:GetDictionaryValuesResponse"/>
<fault message="tns:DictionaryNotFoundFault" name="DictionaryNotFoundFault"/>
<fault message="tns:FieldNotFoundFault" name="FieldNotFoundFault"/>
</operation>
<operation name="GetAttribs">
<input message="tns:GetAttribs"/>
<output message="tns:GetAttribsResponse"/>
</operation>
<operation name="GetFilteredDictionaryValues">
<input message="tns:GetFilteredDictionaryValues"/>
<output message="tns:GetFilteredDictionaryValuesResponse"/>
<fault message="tns:DictionaryNotFoundFault" name="DictionaryNotFoundFault"/>
<fault message="tns:FieldNotFoundFault" name="FieldNotFoundFault"/>
<fault message="tns:InvalidFieldValueFormatFault" name="InvalidFieldValueFormatFault"/>
<fault message="tns:TableNotFoundFault" name="TableNotFoundFault"/>
</operation>
<operation name="SetFieldValues">
<input message="tns:SetFieldValues"/>
<output message="tns:SetFieldValuesResponse"/>
<fault message="tns:InvalidGuidFault" name="InvalidGuidFault"/>
<fault message="tns:DocumentNotFoundFault" name="DocumentNotFoundFault"/>
<fault message="tns:FieldNotFoundFault" name="FieldNotFoundFault"/>
<fault message="tns:InvalidFieldValueFormatFault" name="InvalidFieldValueFormatFault"/>
<fault message="tns:InvalidFieldValueFault" name="InvalidFieldValueFault"/>
<fault message="tns:DocumentLoadFault" name="DocumentLoadFault"/>
<fault message="tns:DocumentSaveFault" name="DocumentSaveFault"/>
</operation>
<operation name="GetDocInfo">
<input message="tns:GetDocInfo"/>
<output message="tns:GetDocInfoResponse"/>
<fault message="tns:InvalidGuidFault" name="InvalidGuidFault"/>
<fault message="tns:DocumentNotFoundFault" name="DocumentNotFoundFault"/>
</operation>
<operation name="listRelatedDocuments">
<input message="tns:listRelatedDocuments"/>
<output message="tns:listRelatedDocumentsResponse"/>
<fault message="tns:InvalidGuidFault" name="InvalidGuidFault"/>
<fault message="tns:DocumentNotFoundFault" name="DocumentNotFoundFault"/>
<fault message="tns:DataSourceNotFoundFault" name="DataSourceNotFoundFault"/>
<fault message="tns:DocumentLoadFault" name="DocumentLoadFault"/>
</operation>
<operation name="GetTableValues">
<input message="tns:GetTableValues"/>
<output message="tns:GetTableValuesResponse"/>
<fault message="tns:InvalidGuidFault" name="InvalidGuidFault"/>
<fault message="tns:DocumentNotFoundFault" name="DocumentNotFoundFault"/>
<fault message="tns:TableNotFoundFault" name="TableNotFoundFault"/>
<fault message="tns:FieldNotFoundFault" name="FieldNotFoundFault"/>
<fault message="tns:TableRowOutOfRangeFault" name="TableRowOutOfRangeFault"/>
<fault message="tns:DocumentLoadFault" name="DocumentLoadFault"/>
</operation>
<operation name="GetFilteredTableValues">
<input message="tns:GetFilteredTableValues"/>
<output message="tns:GetFilteredTableValuesResponse"/>
<fault message="tns:DocumentNotFoundFault" name="DocumentNotFoundFault"/>
<fault message="tns:FieldNotFoundFault" name="FieldNotFoundFault"/>
<fault message="tns:InvalidFieldValueFormatFault" name="InvalidFieldValueFormatFault"/>
<fault message="tns:InvalidGuidFault" name="InvalidGuidFault"/>
<fault message="tns:TableNotFoundFault" name="TableNotFoundFault"/>
<fault message="tns:DocumentLoadFault" name="DocumentLoadFault"/>
</operation>
<operation name="GetFieldValues">
<input message="tns:GetFieldValues"/>
<output message="tns:GetFieldValuesResponse"/>
<fault message="tns:InvalidGuidFault" name="InvalidGuidFault"/>
<fault message="tns:DocumentNotFoundFault" name="DocumentNotFoundFault"/>
<fault message="tns:FieldNotFoundFault" name="FieldNotFoundFault"/>
<fault message="tns:DocumentLoadFault" name="DocumentLoadFault"/>
</operation>
</portType>
<binding name="FormularValuesPortBinding" type="tns:FormularValues">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SetTableValues">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidGuidFault">
<soap:fault name="InvalidGuidFault" use="literal"/>
</fault>
<fault name="DocumentNotFoundFault">
<soap:fault name="DocumentNotFoundFault" use="literal"/>
</fault>
<fault name="TableNotFoundFault">
<soap:fault name="TableNotFoundFault" use="literal"/>
</fault>
<fault name="FieldNotFoundFault">
<soap:fault name="FieldNotFoundFault" use="literal"/>
</fault>
<fault name="TableRowOutOfRangeFault">
<soap:fault name="TableRowOutOfRangeFault" use="literal"/>
</fault>
<fault name="InvalidFieldValueFault">
<soap:fault name="InvalidFieldValueFault" use="literal"/>
</fault>
<fault name="InvalidFieldValueFormatFault">
<soap:fault name="InvalidFieldValueFormatFault" use="literal"/>
</fault>
<fault name="DocumentLoadFault">
<soap:fault name="DocumentLoadFault" use="literal"/>
</fault>
<fault name="DocumentSaveFault">
<soap:fault name="DocumentSaveFault" use="literal"/>
</fault>
</operation>
<operation name="SetTablesValues">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidGuidFault">
<soap:fault name="InvalidGuidFault" use="literal"/>
</fault>
<fault name="DocumentNotFoundFault">
<soap:fault name="DocumentNotFoundFault" use="literal"/>
</fault>
<fault name="TableNotFoundFault">
<soap:fault name="TableNotFoundFault" use="literal"/>
</fault>
<fault name="FieldNotFoundFault">
<soap:fault name="FieldNotFoundFault" use="literal"/>
</fault>
<fault name="TableRowOutOfRangeFault">
<soap:fault name="TableRowOutOfRangeFault" use="literal"/>
</fault>
<fault name="InvalidFieldValueFault">
<soap:fault name="InvalidFieldValueFault" use="literal"/>
</fault>
<fault name="InvalidFieldValueFormatFault">
<soap:fault name="InvalidFieldValueFormatFault" use="literal"/>
</fault>
<fault name="DocumentLoadFault">
<soap:fault name="DocumentLoadFault" use="literal"/>
</fault>
<fault name="DocumentSaveFault">
<soap:fault name="DocumentSaveFault" use="literal"/>
</fault>
</operation>
<operation name="GetDictionaryValues">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DictionaryNotFoundFault">
<soap:fault name="DictionaryNotFoundFault" use="literal"/>
</fault>
<fault name="FieldNotFoundFault">
<soap:fault name="FieldNotFoundFault" use="literal"/>
</fault>
</operation>
<operation name="GetAttribs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetFilteredDictionaryValues">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DictionaryNotFoundFault">
<soap:fault name="DictionaryNotFoundFault" use="literal"/>
</fault>
<fault name="FieldNotFoundFault">
<soap:fault name="FieldNotFoundFault" use="literal"/>
</fault>
<fault name="InvalidFieldValueFormatFault">
<soap:fault name="InvalidFieldValueFormatFault" use="literal"/>
</fault>
<fault name="TableNotFoundFault">
<soap:fault name="TableNotFoundFault" use="literal"/>
</fault>
</operation>
<operation name="SetFieldValues">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidGuidFault">
<soap:fault name="InvalidGuidFault" use="literal"/>
</fault>
<fault name="DocumentNotFoundFault">
<soap:fault name="DocumentNotFoundFault" use="literal"/>
</fault>
<fault name="FieldNotFoundFault">
<soap:fault name="FieldNotFoundFault" use="literal"/>
</fault>
<fault name="InvalidFieldValueFormatFault">
<soap:fault name="InvalidFieldValueFormatFault" use="literal"/>
</fault>
<fault name="InvalidFieldValueFault">
<soap:fault name="InvalidFieldValueFault" use="literal"/>
</fault>
<fault name="DocumentLoadFault">
<soap:fault name="DocumentLoadFault" use="literal"/>
</fault>
<fault name="DocumentSaveFault">
<soap:fault name="DocumentSaveFault" use="literal"/>
</fault>
</operation>
<operation name="GetDocInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidGuidFault">
<soap:fault name="InvalidGuidFault" use="literal"/>
</fault>
<fault name="DocumentNotFoundFault">
<soap:fault name="DocumentNotFoundFault" use="literal"/>
</fault>
</operation>
<operation name="listRelatedDocuments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidGuidFault">
<soap:fault name="InvalidGuidFault" use="literal"/>
</fault>
<fault name="DocumentNotFoundFault">
<soap:fault name="DocumentNotFoundFault" use="literal"/>
</fault>
<fault name="DataSourceNotFoundFault">
<soap:fault name="DataSourceNotFoundFault" use="literal"/>
</fault>
<fault name="DocumentLoadFault">
<soap:fault name="DocumentLoadFault" use="literal"/>
</fault>
</operation>
<operation name="GetTableValues">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidGuidFault">
<soap:fault name="InvalidGuidFault" use="literal"/>
</fault>
<fault name="DocumentNotFoundFault">
<soap:fault name="DocumentNotFoundFault" use="literal"/>
</fault>
<fault name="TableNotFoundFault">
<soap:fault name="TableNotFoundFault" use="literal"/>
</fault>
<fault name="FieldNotFoundFault">
<soap:fault name="FieldNotFoundFault" use="literal"/>
</fault>
<fault name="TableRowOutOfRangeFault">
<soap:fault name="TableRowOutOfRangeFault" use="literal"/>
</fault>
<fault name="DocumentLoadFault">
<soap:fault name="DocumentLoadFault" use="literal"/>
</fault>
</operation>
<operation name="GetFilteredTableValues">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DocumentNotFoundFault">
<soap:fault name="DocumentNotFoundFault" use="literal"/>
</fault>
<fault name="FieldNotFoundFault">
<soap:fault name="FieldNotFoundFault" use="literal"/>
</fault>
<fault name="InvalidFieldValueFormatFault">
<soap:fault name="InvalidFieldValueFormatFault" use="literal"/>
</fault>
<fault name="InvalidGuidFault">
<soap:fault name="InvalidGuidFault" use="literal"/>
</fault>
<fault name="TableNotFoundFault">
<soap:fault name="TableNotFoundFault" use="literal"/>
</fault>
<fault name="DocumentLoadFault">
<soap:fault name="DocumentLoadFault" use="literal"/>
</fault>
</operation>
<operation name="GetFieldValues">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidGuidFault">
<soap:fault name="InvalidGuidFault" use="literal"/>
</fault>
<fault name="DocumentNotFoundFault">
<soap:fault name="DocumentNotFoundFault" use="literal"/>
</fault>
<fault name="FieldNotFoundFault">
<soap:fault name="FieldNotFoundFault" use="literal"/>
</fault>
<fault name="DocumentLoadFault">
<soap:fault name="DocumentLoadFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="DocumentFieldsWebServiceService">
<port name="FormularValuesPort" binding="tns:FormularValuesPortBinding">
<soap:address location="http://eb-exp-test-ufos.otr.ru:8889/sufdclient/web-services/documentFieldsWebService"/>
</port>
</service>
</definitions>